<template lang="pug">
div.text-left(tabindex="-1")
	transition(name="fade" mode="out-in")
		.p-10(v-if="!editing")
			span.bold.primary {{label}}:
			span.p-10-l
				slot(:item="modelValue")  {{ (keyOpt && modelValue ? modelValue[keyOpt] : modelValue) || '-' }}
		div(v-else)
			template(v-if="type === 'textarea'")
				label.p-10-l(tabindex="-1") {{ label }}
				textarea(
					rows="4"
					:placeholder="label"
					@input="onChanged"
					:value="modelValue"
				)
			template(v-else-if="type === 'select'")
				vn-select(
					:label="label"
					@select="onSelect"
					:value="modelValue"
					:options="options"
					:keyOpt="keyOpt"
				)
			template(v-else)
				.vn-control(tabindex="-1")
					input(:type="type"
						:placeholder="label"
						@input="onChanged"
						:value="modelValue"
					)
					label(tabindex="-1") {{ label }}
</template>

<script lang="ts">
import {defineComponent} from 'vue'

export default defineComponent({
	name: "editable",
	emits: ['update:modelValue'],
	props: {
		editing: {
			type: Boolean,
			default: false
		},
		label: {
			type: String,
			default: ''
		},
		type: {
			type: String,
			default: 'text'
		},
		options: {
			type: Array,
		},
		keyOpt: String,
		modelValue: {
			type: [Object, String, Boolean, Number],
			default: null
		}
	},

	setup(props, { emit }) {
		function onChanged(e: InputEvent) {
			// @ts-ignore
			emit('update:modelValue', e.currentTarget?.value);
		}

		function onSelect(e: unknown) {
			emit('update:modelValue', e);
		}

		return {
			onChanged,
			onSelect
		}
	}
})
</script>

<style lang="sass" scoped>

</style>