<template lang="pug">
div(@click="toggleState()")
	slot
	teleport(to="body")
		transition(name="fade-up")
			div.vn-modal(v-show="opened" @keyup.esc="close")
				.vn-modal-background(@click="close")
				.vn-modal-content
					.vn-modal-content-close(@click="close")
						span(v-if="!$slots.close") x
						slot(name="close")
					slot(name="content")
</template>

<script lang="ts">
import { defineComponent } from "vue";

export type VnModalState<T> = {
  open: boolean;
  payload?: T;
};

export default defineComponent({
  name: "modal",

  props: {
    setState: Boolean
  },

  data() {
    return {
      opened: false,
    };
  },

  watch: {
    setState(newVal?: boolean) {
      if (newVal !== undefined) {
        this.opened = newVal
      }
    },

    opened() {
      this.$emit('state', {
        open: this.opened,
      })
    }
  },

  methods: {
    toggleState() {
      this.opened = !this.opened;
    },

    close() {
      this.opened = false;
    },
  },
});
</script>

<style scoped>
</style>