<template lang="pug">
.vn-control.selectable(ref="selectable" :class="{ 'expanded': displayOptions }" tabindex="-1")
	input(
		:placeholder="label"
		v-model="displayValue"
		@keydown.enter="selectActiveOption"
		@keydown.down="next"
		@keydown.up="previous"
		@focus="showOptions"
		@blur="hideOptions"
	)
	label(tabindex="-1") {{label}}
	.options-holder(ref="options" tabindex="-1")
		.option(
			v-for="(option, $index) in filteredOptions"
			:key="option"
			@click="select(option)"
			:class="{active: $index === activeIndex}"
			tabindex="-1"
		)
			template(v-if="!$slots.option") {{keyOpt && option ? option[keyOpt] : option}}
			template(v-else)
				slot(name="option" :option="option")
</template>

<script lang="ts">
import {defineComponent, SetupContext} from 'vue'

type SelectData = {
	displayOptions: boolean,
	activeIndex: number | null,
	filteredOptions: unknown[],
	displayValue: string | null,
}

export default defineComponent({
	name: 'vn-select',
	emits: ['select'],
	model: {
		prop: 'value',
		event: 'select'
	},
	props: {
		editing: {
			type: Boolean,
			default: false
		},
		label: {
			type: String,
			default: ''
		},
		type: {
			type: String,
			default: 'text'
		},
		options: {
			type: Array,
			default: []
		},
		keyOpt: String,
		value: {
			type: [Object, String, Number],
			default: null
		}
	},

	data(): SelectData {
		return {
			displayOptions: false,
			activeIndex: null,
			filteredOptions: [],
			displayValue: null
		}
	},

	setup(props, {emit}: SetupContext) {
		function select(option: unknown): void {
			emit('select', option)
		}

		return {select}
	},

	mounted() {
		this.setDisplayValue()
		this.filteredOptions = this.options
	},

	watch: {
		value() {
			this.setDisplayValue()
		},
		displayValue(current) {
			const value = this.value
			const isValue = current === value || (!!value && !!this.keyOpt && current === value[this.keyOpt] )
			if(current !== null && !isValue) {
				this.filterOptions(current)
				this.showOptions()
			}
		}
	},

	methods: {
		setDisplayValue(): void {
			const value = this.value
			this.displayValue = (!!this.keyOpt && !!value) ? value[this.keyOpt] : value
		},

		previous() {
			if (this.activeIndex === null) {
				this.activeIndex = this.options.length
			}
			this.activeIndex--
			if (this.activeIndex < 0) {
				this.activeIndex = this.options.length - 1
			}
		},

		next() {
			if (this.activeIndex === null) {
				this.activeIndex = this.options.length - 1
			}
			this.activeIndex++
			this.activeIndex %= this.options.length
		},

		showOptions(): void {
			const {offsetTop, offsetHeight, offsetWidth} = (this.$refs.selectable as HTMLElement)
			const {style} = (this.$refs.options as HTMLElement)
			const height = offsetTop + offsetHeight
			style.top = `calc(${height}px - 0.5em)`
			style.width = `${offsetWidth}px`
			const minmax = Math.min(window.innerHeight - height, (this.filteredOptions.length || 1) * 30)
			style.height = `${minmax + 2}px`
			this.displayOptions = true
		},

		hideOptions(): void {
			const {offsetTop} = (this.$refs.selectable as HTMLElement)
			const {style} = (this.$refs.options as HTMLElement)
			style.height = `0`
			style.top = `${offsetTop + 5}px`
			this.displayOptions = false
		},

		filterOptions(rawQuery: string | null): void {
			const query = rawQuery?.toLowerCase()
			this.filteredOptions = !!query ? this.options.filter((option: any) => {
				if (!!this.keyOpt) {
					return option[this.keyOpt].toLowerCase().includes(query)
				}
				return option.toString().toLowerCase().includes(query)
			}) : this.options
		},

		selectActiveOption(event: KeyboardEvent): void {
			event.preventDefault()
			event.stopPropagation()
			event.stopImmediatePropagation()
			if(this.activeIndex !== null) {
				this.select(this.filteredOptions[this.activeIndex])
				this.hideOptions()
			}
		}
	}
})
</script>

<style lang="sass" scoped>

</style>