<template lang="pug">
.vn-row.w-100.h-right.m-10-v
	transition-group(name="appear" mode="out-in")
		.fill.text-center(v-if="state.loading" key="loader")
			loader
		template(v-else)
			collection-card(v-for="collection in state.collections" :key="collection.id || collection.name" :collection="collection" )
	.vn-item.phantom.h-100(v-if="state.collections.length && state.collections.length < 2" @click="open")
		h2
			i.fas.fa-plus
	.w-100.text-center.fill(v-if="!state.collections.length && !state.loading")
		button.vn-button(@click="open") {{ $t('collections.actions.add') }}
	vn-modal(:set-state="opened")
		template(v-slot:content)
			h2 {{ $t('collections.add.title') }}
			.vn-control
				input(v-model="name" type="text" :placeholder="$t('collections.add.name')")
				label {{ $t('collections.add.name') }}
			p {{ $t('collections.add.subtitle')}}
			.vn-row.m-25-t
				button.vn-button.outlined(@click="close") {{$t('common.cancel')}}
				button.vn-button(type="submit" @click="save") {{$t('common.save')}}
</template>

<script lang="ts">
import {defineComponent, ref} from 'vue'
import Loader from '../../../components/loader.vue'
import CollectionCard from './collection-card.vue'
import {collectionStore} from '../../../store/collection.store';

export default defineComponent({
	name: 'collections',
	components: {Loader, CollectionCard},

	setup() {
		const {collections} = collectionStore.getState()
		const opened = ref(false)
		const name = ref("")

		if (!collections.length) {
			collectionStore.fetchCollections()
		}

		const open = () => opened.value = true
		const close = () => opened.value = false
		const resetName = () => name.value = ""

		const save = () => collectionStore
			.saveCollection({ name: name.value })
			.then(close)
			.then(resetName)

		return {
			state: collectionStore.getState(),
			opened,
			name,
			save,
			close,
			open,
		}
	}
})
</script>

<style lang="sass" scoped>
.vn-item.flexible
	margin-top: 0
	margin-bottom: 0

.vn-item.phantom
	min-width: 100px
	height: 100%
	min-height: 50px
</style>