<template lang="pug">
.vn-item.fill.flexible
	.p-10.fill
		h1.p-25-l {{collection.name}}
		.vn-smart-grid
			.vn-item.inset.p-10-h.g-col-4
				.text-center.w-100
					small {{ $t('collections.total') }}
					br
					span.primary.bold {{ total }} &nbsp;
						i.fas.fa-car-alt
			.vn-item.inset.p-10-h.g-col-4
				.text-center.w-100
					small {{ $t('collections.amount') }}
					br
					span.primary.bold {{ amount }} &nbsp;
						i.fas.fa-euro-sign
	.vn-col.p-10
		button.vn-button.outlined.vn-row.h-left
			i.fas.fa-eye
			| &nbsp; {{ $t('collections.actions.see') }}
		button.vn-button.outlined.vn-row.h-left
			i.fas.fa-edit
			| &nbsp; {{ $t('collections.actions.edit') }}
		button.vn-button.warning.outlined.vn-row.h-left(@click="deleteIt")
			i.fas.fa-trash
			| &nbsp; {{ $t('collections.actions.delete') }}
</template>

<script lang="ts">
import {defineComponent, PropType, ref} from 'vue'
import {Collection} from "../../../store/model";
import {animate} from "../../../middlewares";
import {collectionStore} from "../../../store/collection.store";

export default defineComponent({
	name: 'collection-card',
	props: {
		collection: {
			type: Object as PropType<Collection>,
			required: true
		}
	},

	setup(props) {
		const total = ref(0)
		const amount = ref(0)

		animate(props.collection.models, total)
		animate(props.collection.amount, amount)
		// /!\ delete is a reserved word
		const deleteIt = () => collectionStore.deleteCollection(props.collection)

		return {
			total,
			amount,
			deleteIt
		}
	},
})
</script>

<style lang="sass" scoped>
button.vn-button.outlined
	width: 100%
</style>