.vn-col
	display: flex
	flex-flow: column
	align-items: center
	justify-content: flex-start

	.v-center
		justify-content: center
	.h-center
		align-items: center
	& > .fill
		height: 0
	.scroll
		overflow-x: hidden
		overflow-y: auto