.vn-smart-grid
  display: grid
  grid-auto-rows: minmax(0, auto)
  grid-auto-columns: min-content
  grid-gap: $column-gap $column-spacing

  &.centered
    align-items: center


  &.no-gap
    grid-gap: 1px 1px


  &.no-scroll
    *[class^="q-col-"], *[class^="q-row-"]
      overflow: hidden

  & > .g-col
    display: inline-block
    width: max-content

@media (min-width: 1024px)
  .vn-smart-grid
    grid-template-columns: repeat(12, minmax(0, 1fr))

    @for $i from 1 to 11
      &.has-#{$i}-col
        grid-template-columns: repeat($i, minmax(0, 1fr))

    @for $i from 1 through 12
      .g-col-#{$i}
        grid-column: span $i
        overflow-x: hidden
        text-align: left

      .g-row-#{$i}
        grid-row: span $i
        overflow-x: hidden


@media (min-width: 600px) and (max-width: 1023px)
  .vn-smart-grid
    grid-template-columns: repeat(6, minmax(0, 1fr))

    @for $i from 1 to 11
      &.has-#{$i}-col
        grid-template-columns: repeat($i / 2, minmax(0, 1fr))

    @for $i from 1 through 12
      .g-col-#{$i}
        @if($i >= 6)
          grid-column: span 6
        @else
          grid-column: span 3
        overflow-x: hidden
        text-align: left
    @for $i from 1 through 6
      .g-col-sm-#{$i}
        grid-column: span $i
        overflow-x: hidden
        text-align: left

@media (max-width: 600px)
  .vn-smart-grid
    grid-template-columns: repeat(1, minmax(0, 1fr))
    grid-gap: $column-spacing / 2