.vh
	height: 100vh
.vw
	width: 100vw

.w-100
	width: 100%

.h-100
	height: 100%

@each $size in $sizes
	.p-#{$size}
		padding: #{$size}px
		&-h
			padding: 0 #{$size}px
		&-v
			padding: #{$size}px 0
		&-t
			padding-top: #{$size}px
		&-b
			padding-bottom: #{$size}px
		&-l
			padding-left: #{$size}px
		&-r
			padding-right: #{$size}px
	.m-#{$size}
		margin: #{$size}px
		&-h
			margin: 0 #{$size}px
		&-v
			margin: #{$size}px 0
		&-t
			margin-top: #{$size}px
		&-b
			margin-bottom: #{$size}px
		&-l
			margin-left: #{$size}px
		&-r
			margin-right: #{$size}px

.thin
	font-weight: lighter

.bold
	font-weight: bolder

.text-center
	text-align: center !important

.text-left
	text-align: left !important

.text-right
	text-align: right !important

@each $level, $value in $levels
	.#{$level}
		color: $value

@for $index from -1 through 10
	.z-#{$index}
		z-index: $index