@media (max-width: 600px)
  .display-for-mobile
    display: inherit
  .display-for-desktop
    display: none

@media (min-width: 600px)
  .display-for-mobile
    display: none
  .display-for-desktop
    display: inherit