.vn-row
	display: flex
	flex-flow: row
	align-items: center
	justify-content: space-between

	&.center
		justify-content: center
	&.h-left
		justify-content: start
	&.h-right
		justify-content: end
	&.baseline
		align-items: baseline
