@import './variables.sass'

html
	overscroll-behavior-x: none
	overscroll-behavior-y: none

body
	margin: 0
	padding: 0
	width: 100vw
	height: 100vh
	overscroll-behavior-x: none
	overscroll-behavior-y: none
	overflow: hidden
	background-color: $background-color
	color: $font-color

*
	box-sizing: border-box
	transition: all 0.2s ease
	outline: none

a, p, span, i, code, pre
	font-size: inherit

small
	font-size: smaller

ul, a, pre
	margin: 0
	padding: 0

button
	outline: none
	border: none
	font-size: inherit

ul, a
	list-style-type: none
	text-decoration: none
	color: inherit

hr
	border: 0.5px solid $primary
	width: 100%

h1, h2, h3
	margin: 0
	color: $primary

@mixin no-select
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none