<template lang="pug">
.vn-col.vh
  ov-header
  .fill.w-100.p-10.scroll
    router-view
</template>

<script lang="ts">
import OvHeader from "./views/_structure/header.vue";
export default {
  name: "App",
  components: { OvHeader },
};
</script>