// RESET
input
	background-color: $background-dark
	color: $font-color
	outline: none
	caret-color: $primary
	border: none
	padding: 0.25em 1em
	height: 2.5em
	border-radius: 0.5em
	margin-bottom: 0.5em

.vn-control

	input, label
		width: 100%
		position: absolute

	label
		left: 0.5rem
		top: calc(50% - 0.75em - 0.25em)
		pointer-events: none
		text-align: left
		font-size: 1em
		transition: all 0.25s ease
		cursor: text
		overflow: hidden
		white-space: nowrap
		text-overflow: ellipsis

	input
		padding-left: 0.5rem
		font-size: 1em
		&::placeholder
			color: transparent
			font-size: 1em

		&:focus, &:not(:placeholder-shown)
			&::placeholder
				color: $grey
			& ~ label
				font-size: 0.75em
				top: -1.5em
