.vn-control.selectable
  &:after
    position: absolute
    right: 10px
    width: 0
    height: 0
    content: ''
    border-radius: .25em
    border: 0.42em solid transparent
    border-color:  $font-color transparent transparent transparent
    transition: all 0.25s ease-in-out
    transform-origin: center calc(0.42em / 2)

  .options-holder
    position: fixed
    background-color: $background-dark
    overflow-y: scroll
    overflow-x: hidden
    border-radius: 0
    border: 0
    box-shadow: none
    height: 0
    z-index: -10
    transition: all 0.25s ease-in-out
    .option
      padding: 0.25em 0.5em
      height: 30px
      cursor: pointer
      &:hover, &.active
        background-color: $background-light

  &.expanded
    &:after
      transform: rotate(0.5turn)
    .options-holder
      border: 1px solid $primary
      z-index: 10
      border-top: 0
      border-radius: 0 0 0.5em 0.5em
      box-shadow: 2px 2px 5px $black

  input
    &:focus
      border-radius: 0.5em 0.5em 0 0
      border-bottom: 1px solid $primary
      &::placeholder
        color: $grey
      & ~ label
        font-size: 0.75em
        top: -1.5em