<template lang="pug">
form
	.vn-row
		router-link.vn-button.outlined(to="/cars")
			i.fa.fa-chevron-left.fa-xs
			span {{ $t('common.back')}}
		button.vn-button(type="submit" @click="save" v-if="editing")
			i.fas.fa-circle-notch.fa-spin(v-if="loading")
			i.fas.fa-save(v-else)
			span {{ $t('common.save')}}
		button.vn-button(@click="edit" v-else)
			i.fa.fa-edit
	.m-25
	template(v-if="!loading && !activeCar")
		span No car found with id {{$route.params.id}}

	loader(v-else-if="!activeCar && loading")

	div(v-else)
		.vn-smart-grid.centered.m-10-b
			.g-col-4.g-row-3.vn-media.g-col-sm-6
				img(:src="activeCar.image" v-if="activeCar")
				template(v-if="!editing")
					i.fas.fa-image.fa-5x(v-if="!activeCar?.image")
				.vn-col.z-1(v-else)
					i.fas.fa-edit.fa-5x
					label.m-10-t {{ $t('cars.car.input-file') }}
					input(type="file" @change="onFileInput" accept="image/*" v-if="editing")
			vn-editable.g-col-8(
				v-model="activeCar.model"
				:label="$t('cars.car.model')"
				:editing="editing"
			)
			vn-editable.g-col-4(
				type="select"
				v-model="activeCar.manufacturer"
				:label="$t('cars.car.manufacturer')"
				:editing="editing"
				:options="manufacturers"
				keyOpt="name"
			)
			vn-editable.g-col-4(
				type="select"
				v-model="activeCar.classification"
				:label="$t('cars.car.classification')"
				:editing="editing"
				:options="classifications"
			)
			vn-editable.g-col-4(
				type="date"
				v-model="activeCar.fabricationStart"
				:label="$t('cars.car.fabrication.start')"
				:editing="editing"
			)
				template(v-slot="{item}")
					span {{date(item)}}
			vn-editable.g-col-4(
				type="date"
				v-model="activeCar.fabricationEnd"
				:label="$t('cars.car.fabrication.end')"
				:editing="editing"
			)
				template(v-slot="{item}")
					span {{date(item)}}
		vn-editable(
			type="textarea"
			v-model="activeCar.description"
			:label="$t('cars.car.description')"
			:editing="editing"
		)
			template(v-slot="{item}")
				p(v-html="toHtmlBr(item) || '-'")
</template>

<script lang="ts">
import {format, parse} from 'date-fns';
import {defineComponent} from 'vue';
import {mapActions, mapGetters} from 'vuex';
import {CarActions} from '../../store/car/car.actions';
import {ManufacturerActions} from '../../store/manufacturer/manufacturer.actions';
import {CarClassification} from '../../store/model';
import Loader from '../../components/loader.vue'
import {toBase64} from "../../middlewares/file";
import {toHtmlBr} from "../../middlewares";

const {FETCH_MANUFACTURERS} = ManufacturerActions;
const {LOAD_BY_ID, SAVE_CAR} = CarActions;
export default defineComponent({
	name: 'car-detail.vue',

	components: {Loader},

	data() {
		return {
			editing: false,
			classifications: Object.keys(CarClassification),
			inputFile: null
		};
	},

	computed: {
		...mapGetters('@car', ['activeCar', 'loading']),
		...mapGetters('@manufacturer', ['manufacturers']),

		isCreating(): boolean {
			return this.$route.params.id === "create";
		},
	},

	beforeMount() {
		this[LOAD_BY_ID](this.$route.params.id);
		if (!this.manufacturers.length) {
			this[FETCH_MANUFACTURERS]()
		}
		if (this.isCreating) {
			this.editing = true
		}
	},

	methods: {
		...mapActions('@car', [LOAD_BY_ID, SAVE_CAR]),
		...mapActions('@manufacturer', [FETCH_MANUFACTURERS]),
		toHtmlBr,

		edit() {
			this.editing = true;
		},

		async save() {
			this.editing = false
			if(!this.loading) {
				const {id} = await this.saveCar(this.activeCar)
				if(this.isCreating) {
					this.$router.replace(`/cars/${id}`)
				}
			}
		},

		date(dateStr: string | null) {
			return dateStr ? format(parse(dateStr, 'yyyy-MM-d', new Date()), 'P') : '-'
		},

		onFileInput(event: Event) {
			// @ts-ignore
			const file = event?.target?.files[0] as File
			toBase64(file).then((result) => this.activeCar.image = result)
		}
	}
});
</script>

<style lang="sass" scoped>
.vn-media
	height: 15em
	display: flex
	align-items: center
	justify-content: center
</style>