<template lang="pug">
.cars
	.vn-row.h-right
		router-link.vn-button(to="/cars/create")
			i.fa.fa-plus
			| {{ $t('cars.add') }}
	.vn-smart-grid.has-4-col.m-25
		stats-total
	.text-center(v-if="loading" size="3em")
		loader
	table(v-else)
		tr
			th {{ $t('cars.car.manufacturer') }}
			th {{ $t('cars.car.model') }}
			th.expanded
		tr(v-for="car in lightCars" :key="car.id")
			td.text-center.manufacturer-logo(v-html="getIcon(car.manufacturer.slug)?.svg")
			td.text-center {{car.model}}
			td.text-right.expanded
				router-link.vn-button.outlined(:to="'/cars/' + car.id")
					i.fa.fa-chevron-right
</template>

<script lang="ts">
import {defineComponent} from 'vue';
import {mapActions, mapGetters} from 'vuex';
import {CarActions} from '../../store/car/car.actions';
import Loader from '../../components/loader.vue'
import StatsTotal from './stats/total.vue'
import {getIcon} from "../../middlewares";

export default defineComponent({
	name: 'cars',

	components: { Loader, StatsTotal },

	computed: {
		...mapGetters('@car', ['lightCars', 'loading'])
	},

	methods: {
		...mapActions('@car', [CarActions.FETCH_CARS]),
		getIcon
	},

	mounted() {
		if (!this.lightCars.length) {
			this.fetchCars()
		}
	}
});
</script>

<style lang="sass">
@import '../../assets/venus/style/variables'
.manufacturer-logo
	svg
		vertical-align: inherit
		height: 2em
		path
			fill: $primary
</style>