<template lang="pug">
.vn-item
	.w-100.text-center
		transition(name="fade" mode="out-in")
			loader(v-if="loading")
			.vn-row.center.baseline(v-else)
				h1 {{value}}
				p.m-10-l.primary {{ label }}
</template>

<script lang="ts">
import {defineComponent} from 'vue'
import Loader from "../../../components/loader.vue";

export default defineComponent({
	name: "stats",
	components: { Loader },
	props: {
		value: [String, Number],
		label: String,
		loading: {
			default: false,
			type: Boolean
		}
	}
})
</script>

<style lang="sass" scoped>

</style>