<template lang="pug">
stats(
	:value="normalizedKpi"
	:label="$t('cars.stats.total')"
	:loading="loading"
)
</template>

<script lang="ts">
import {defineComponent} from 'vue'
import Stats from './stats.vue'
import {easeOutCubic, normalizedNumber} from "../../../middlewares";
import {mapActions, mapGetters} from "vuex";
import {CarActions} from "../../../store/car/car.actions";

export default defineComponent({
	name: 'total',
	components: { Stats },

	data() {
		return {
			kpi: 0,
			loading: true
		}
	},

	computed: {
		...mapGetters('@car', ['stats']),
		normalizedKpi() {
			return normalizedNumber(this.kpi)
		}
	},

	async mounted() {
		if(this.stats === null) {
			await this.loadStats()
		}
		this.loading = false
		this.animate(this.stats.total)
	},

	methods: {
		...mapActions('@car', [CarActions.LOAD_STATS]),

		animate(to: number) {
			let frame = 0;
			const duration = to > 1000 ? 5000 : 1000;
			const fps = 25
			const frameDuration = 1000 / fps;
			const totalFrames = Math.round( duration / frameDuration );
			const counter = setInterval( () => {
				frame++;
				const progress = easeOutCubic( frame / totalFrames );
				this.kpi = Math.round(to * progress)

				if ( frame === totalFrames ) {
					clearInterval( counter );
				}
			}, frameDuration );
		}
	}
})
</script>

<style lang="sass" scoped>
</style>