<template lang="pug">
vn-modal(@state="handleState" :set-state="open")
	slot
	template(v-slot:content)
		.m-25-h
			h2 {{ manufacturerData.id ? $t('manufacturers.add.edit') : $t('manufacturers.add.title') }}
			transition(name="appear")
				.current-icon.text-center(v-if="icon" v-html="icon.svg")
			.vn-control
				input(
					ref="name"
					v-model="manufacturerData.name",
					:placeholder="$t('manufacturers.add.name')"
				)
				label {{ $t('manufacturers.add.name')}}
			.vn-control
				input(v-model="manufacturerData.slug", :placeholder="slug")
				label
					| {{ slug }}&nbsp;
					i.question.fas.fa-info-circle(:title="$t('manufacturers.add.slug-infos')")
			.vn-row.m-25-t
				button.vn-button.outlined(@click="close") {{$t('common.cancel')}}
				button.vn-button(type="submit" @click="save") {{$t('manufacturers.add.save')}}
	template(v-slot:close)
		i.fas.fa-times
</template>

<script lang="ts">
import { SimpleIcon } from 'simple-icons'
import { VnModalState } from 'src/assets/venus/components/modal.vue'
import { getIcon } from '../../../middlewares'
import { defineComponent, PropType } from 'vue'
import { Manufacturer } from '../../../store/model'
import { mapActions } from 'vuex'
import { ManufacturerActions } from '../../../store/manufacturer/manufacturer.actions'

export default defineComponent({
  name: 'add-manufacturer',

  props: {
    manufacturer: Object as PropType<Manufacturer>
  },

  data() {
    return {
      manufacturerData: {} as Manufacturer,
      open: null as boolean | null
    }
  },

  computed: {
    slug(): string {
      const { name, slug } = this.manufacturerData as Manufacturer
      if (slug != undefined) {
        return slug
      }
      if (name && name.length) {
        return name.normalize('NFD')
            .replace(/[\u0300-\u036f\s]/g, '')
            .toLowerCase()
      }
      return this.$t('manufacturers.add.slug')
    },

    icon(): SimpleIcon | undefined {
      return getIcon(this.slug)
    }
  },

  created() {
    if (this.manufacturer !== undefined) {
      this.manufacturerData = { ...this.manufacturer }
    }
  },

  methods: {
    ...mapActions('@manufacturer', [ManufacturerActions.SAVE_MANUFACTURER]),

    handleState({ open }: VnModalState<Manufacturer>) {
      if (open) {
        (this.$refs.name as HTMLElement).focus()
      } else {
        this.manufacturerData = this.manufacturer !== undefined
          ? { ...this.manufacturer }
          : {} as Manufacturer
      }
    },

    save(): void {
      this.saveManufacturer(this.manufacturerData).then(() => this.close())
    },

    close(): void {
      this.open = false
      setTimeout(() => {
        this.open = null
      }, 10)
    },
  }
})
</script>

<style lang="sass">
.current-icon
  height: 10em
  & svg
    height: 100%
    & path
      fill: white
</style>