<template lang="pug">
.vn-item(:class="{'opened': showActions}")
	.vn-item-body.text-center(v-if="getIcon(manufacturer.slug)" v-html="getIcon(manufacturer.slug).svg")
	.vn-item-body(v-else)
		b {{manufacturer.name}}
	.vn-item-actions.vn-row.p-25
		manufacturer-modal(:manufacturer="manufacturer")
			a.vn-link(@click="toggle")
				i.fas.fa-edit
		a.vn-link.danger(v-if="!confirm" @click="confirmDelete")
			i.fas.fa-trash-alt
		a.vn-link.warning(v-else @click="delete")
			i.fas.fa-exclamation-circle
	.vn-item-handle(@click="toggle")
		h2.vn-link
			i.fas.fa-ellipsis-v
</template>

<script lang="ts">
import {defineComponent, PropType} from 'vue'
import {isManufacturer, Manufacturer} from '../../../store/model'
import ManufacturerModal from './manufacturer-modal.vue'
import {mapActions} from 'vuex'
import {ManufacturerActions} from '../../../store/manufacturer/manufacturer.actions'
import {getIcon} from "../../../middlewares";

export default defineComponent({
	name: 'manufacturer-item',

	components: {ManufacturerModal},

	props: {
		manufacturer: {
			required: true,
			validator(value: unknown): boolean {
				return isManufacturer(value)
			},
			type: Object as PropType<Manufacturer>
		}
	},

	data() {
		return {
			showActions: false,
			confirm: false
		}
	},

	methods: {
		...mapActions('@manufacturer', [ManufacturerActions.DELETE_MANUFACTURER]),


		getIcon,
		toggle(): void {
			this.showActions = !this.showActions
		},

		confirmDelete(): void {
			this.confirm = true
			setTimeout(() => {
				this.confirm = false
			}, 2000)
		},

		delete(): void {
			this.deleteManufacturer(this.manufacturer.id)
		}
	}
})
</script>

<style lang="sass">
@import '../../../assets/venus/style/variables'
.vn-item-thumbnail svg, .vn-item-body svg
	margin: 0.25rem
	height: calc(100% - .5rem)

	path
		fill: $primary
</style>