.vn-header 
	@extend .sp-a
	@extend .vn-row
	min-height: 2em
	width: 100%
	border-bottom: 2px solid $primary
	& .link
		height: 100%
		font-weight: bold
		box-sizing: border-box
		box-shadow: none
		display: inline-flex
		align-items: center
		&:hover, &.vn-active
			color: $primary
			path
				fill: $primary
			box-shadow: 0 -5px 0 0 $primary inset
		i, svg
			margin: 0 0.25rem

	.mobile-menu
		position: fixed
		top: 0
		left: -100%
		height: 100vh
		background: $background-light
		box-shadow: 2px 2px 5px $background-dark
		z-index: 10
		display: flex
		flex-flow: column
		width: 80%
		padding: 0.5em 0 0.5em 0.5em
		justify-content: flex-start
		transition: left 0.5s ease
		.title
			padding-right: 0.5em
		&.shown
			left: 0

		.link
			height: 2em
			padding-right: 2em
			&:hover, &.vn-active
				color: $primary
				path
					fill: $primary
				box-shadow: -5px 0 0 0 $primary inset

@media screen and (min-width: 600px)
	.mobile-menu
		display: none