.vn-item
  display: flex
  flex-flow: row nowrap
  height: 5rem
  border-radius: 1rem
  align-items: center
  margin: $space-s
  background: $background-color
  box-shadow: 2px 2px 5px $background-dark, -2px -2px 5px $background-light
  position: relative
  overflow: hidden
  transition: all 0.75s ease-in-out
  &.flexible
    height: auto

  &.inset
    box-shadow: 2px 2px 5px $background-dark inset, -2px -2px 5px $background-light inset

  &.opened &-body, &.opened &-thumbnail
    transform: translateX(-95%)

  &-thumbnail
    height: 5rem
    width: 5rem
    border-right: 1px solid $grey
    background: $background-color
    z-index: 2

  &-body
    height: 5rem
    flex: 1
    display: flex
    align-items: center
    justify-content: center
    background: $background-color
    border-right: 1px solid $grey
    box-sizing: content-box
    z-index: 3

  &-actions
    position: absolute
    right: calc(2.5rem + 1px)
    background: $background-dark
    height: 100%
    width: calc(95% - 2.5rem)
    z-index: 1

  &-handle
    @extend .vn-link
    border-left: 1px solid $grey
    box-sizing: content-box
    background: $background-color
    width: 2.5rem
    height: 5rem
    display: flex
    align-items: center
    justify-content: center

  &.phantom
    background: transparent
    box-shadow: 2px 2px 5px $background-dark inset, -2px -2px 5px $background-light inset
    display: flex
    justify-content: center
    align-items: center
    & *
      color: $background-lighter !important
    &:hover
      cursor: pointer
      box-shadow: 2px 2px 5px $background-dark, -2px -2px 5px $background-light
      & *
        transform: scale(1.02)