.vn-modal
  position: absolute
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  overflow: auto

  &-background
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    background: #12121288
    filter: blur(2px)
    z-index: 1000
  &-content
    padding: 2rem 1rem 1rem
    border-radius: 2rem
    background: lighten($background-color, 5%)
    z-index: 1001
    min-height: 33vh
    min-width: 33vw
    max-width: 90vw
    position: relative

    &-close
      cursor: pointer
      position: absolute
      width: min-content
      top: 1rem
      right: 1.5rem
