<template lang="pug">
.h-100.w-100.vn-col
	collections
	.fill.w-100
		table

</template>

<script lang="ts">
import {defineComponent} from 'vue'
import Collections from './collection/collections.vue'

export default defineComponent({
	name: 'models',
	components: { Collections }
})
</script>

<style lang="sass" scoped>
</style>