<template lang="pug">
svg-base(icon-name="OVDB" view-box="0 0 512 512")
	path(
		d=" M 256 0 C 114.72 0 0 114.72 0 256 C 0 397.28 114.72 512 256 512 C 397.28 512 512 397.28 512 256 C 512 114.72 397.28 0 256 0 Z  M 256 16 C 342.032 16 417.376 61.184 459.752 129.12 C 467.783 142.847 459.811 129.149 467.752 142.96 C 486.367 177.729 496.073 216.57 496 256.008 C 496 385.976 392.904 491.608 264 495.792 C 247.998 495.792 263.848 495.792 248 495.792 C 119.064 491.56 16 385.968 16 256 C 15.953 216.57 25.657 177.74 44.248 142.968 C 52.176 129.047 44.31 142.887 52.248 129.12 C 94.624 61.224 169.968 16 256 16 Z  M 256 48 C 181.936 48 116.904 86.84 80.032 145.216 C 80 145.16 71.964 159.003 72.032 159 C 61.75 178.497 54.65 199.511 51 221.248 C 50.63 222.217 50.458 223.251 50.496 224.288 C 48.856 234.78 48.022 245.381 48 256 C 48 267.248 48.936 278.28 50.656 289.032 C 50.688 289.312 50.752 289.56 50.784 289.84 C 65.184 377.624 134.624 446.968 222.464 461.248 C 222.56 461.28 222.656 461.28 222.752 461.312 C 231.032 462.656 239.44 463.472 248 463.784 L 264 463.784 C 272.386 463.476 280.745 462.661 289.032 461.344 C 289.312 461.312 289.56 461.248 289.84 461.216 C 377.624 446.816 446.968 377.376 461.248 289.536 C 461.248 289.472 461.28 289.408 461.28 289.376 C 461.312 289.312 461.312 289.28 461.312 289.248 C 463.064 278.408 464 267.312 464 256 C 464 244.752 463.064 233.72 461.344 222.968 C 461.312 222.688 461.248 222.44 461.216 222.16 C 457.6 200.095 450.424 178.764 439.968 159 C 440 158.968 432 145.16 431.936 145.184 C 395.056 86.84 330.064 48 256 48 Z  M 256 64 C 348.968 64 426.376 129.872 444.16 217.528 C 431.408 219.784 404.752 224 382.72 224 C 355.624 224 322.784 217.904 316.216 216.624 C 303.312 197 281.16 184 256 184 C 230.84 184 208.688 197 195.784 216.624 C 189.248 217.904 156.376 224 129.344 224 C 107.312 224 80.624 219.784 67.84 217.528 C 85.624 129.872 163.04 64 256 64 Z  M 256 200 C 287.032 200 312 224.968 312 256 C 312 287.032 287.032 312 256 312 C 224.968 312 200 287.032 200 256 C 200 224.968 224.968 200 256 200 Z  M 65.376 233.376 C 78.592 235.752 105.56 240 129.344 240 C 150.28 240 172.968 236.752 187.344 234.376 C 185.129 241.37 184.001 248.663 184 256 C 184 263.56 185.312 270.816 187.504 277.656 C 173.128 275.256 150.344 272 129.28 272 C 105.496 272 78.56 276.248 65.376 278.624 C 64.496 271.184 64 263.656 64 256 C 64 248.344 64.504 240.816 65.376 233.376 Z  M 446.624 233.376 C 447.504 240.816 448 248.344 448 256 C 448 263.656 447.496 271.184 446.624 278.624 C 433.408 276.248 406.44 272 382.656 272 C 361.624 272 338.872 275.248 324.496 277.656 C 326.78 270.663 327.962 263.357 328 256 C 328 248.472 326.816 241.184 324.656 234.376 C 339.032 236.752 361.72 240 382.72 240 C 406.496 240 433.44 235.752 446.624 233.376 Z  M 129.28 288 C 156.528 288 189.656 294.184 195.936 295.376 C 201.35 303.652 208.388 310.742 216.624 316.216 C 217.904 322.752 224 355.624 224 382.656 C 224 404.688 219.784 431.376 217.528 444.16 C 142.312 428.904 83.096 369.68 67.848 294.472 C 80.592 292.216 107.248 288 129.288 288 L 129.28 288 Z  M 382.656 288 C 404.688 288 431.376 292.216 444.16 294.472 C 428.904 369.688 369.68 428.904 294.472 444.152 C 292.216 431.408 288 404.752 288 382.712 C 288 355.624 294.096 322.784 295.376 316.216 C 303.612 310.742 310.65 303.652 316.064 295.376 C 322.312 294.184 355.472 288 382.656 288 Z  M 234.376 324.656 C 248.448 329.111 263.552 329.111 277.624 324.656 C 275.248 339.032 272 361.72 272 382.72 C 272 406.496 276.248 433.44 278.624 446.624 C 271.184 447.504 263.656 448 256 448 C 248.344 448 240.816 447.496 233.376 446.624 C 235.752 433.408 240 406.44 240 382.656 C 240 361.72 236.752 339.032 234.376 324.656 Z "
		)
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import SvgBase from './SvgBase.vue'

export default defineComponent({
	name: 'Logo',
	components: { SvgBase }
})
</script>

<style lang="sass" scoped>

</style>