<template lang="pug">
svg(
	xmlns="http://www.w3.org/2000/svg",
	:viewBox="viewBox"
	:width="width"
	:height="height"
	style="position: relative, top: -10%"
 )
	title(:id="iconName" lang="en") {{iconName}}
	g(:fill="iconColor")
		slot
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
	name: 'SvgBase',
	props: {
		viewBox: { type: String, default: '0 0 24 24'},
		iconName: { type: String, default: ''},
		width: { type: [Number, String], default: null },
		height: {type: [Number, String], default: '2em' },
		iconColor: {type: String, default: 'currentColor'}
	}
})
</script>

<style lang="sass" scoped>

</style>