<template lang="pug">
router-view(v-slot="{ Component }")
  transition(name="fade-left" mode="out-in")
    component(:is="Component")
</template>
<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  data() {
    return {
      ping: true,
    };
  },
});
</script>
<style lang="sass">
</style>