<template lang="pug">
.vn-header.p-25-h.display-for-desktop
	.fill.h-100.vn-row.h-right
		router-link.link.p-10-h(:to="{ name: 'manufacturers' }" active-class="vn-active")
			| {{ $t('menu.manufacturers')}}
			i.fa.fa-industry
		router-link.link.p-10-h(:to="{ name: 'cars' }" :class="{ 'vn-active': isActive('cars')}")
			| {{ $t('menu.cars')}}
			i.fa.fa-car
		router-link.link.p-10-h(:to="{ name: 'search' }" active-class="vn-active")
			| {{ $t('menu.search')}}
			i.fa.fa-search
	router-link.vn-link.p-10.m-50-h(:to="{ name: 'home' }" :title="$t('menu.home')")
		logo-full(size="2.25em")
	.fill.h-100.vn-row.h-left
		router-link.link.p-10-h(:to="{ name: 'models' }" active-class="vn-active")
			| {{ $t('menu.models')}}
			i.fa.fa-boxes
		.fill
		a.link(href="https://delni.gitlab.io/ovdb/" target="_blank") 
			| {{ $t('menu.api')}}
			i.fa.fa-plug
.vn-header.p-10-h.display-for-mobile
	.vn-link.p-10(:title="$t('menu.home')" @click="toggleMenu")
		logo-full(size="2.25em")
	.mobile-menu(:class="{shown : menu }" @click="toggleMenu")
		logo-full.title(size="2.25em")
		router-link.link.p-10-r.vn-row.sp-b(:to="{ name: 'home' }" active-class="vn-active")
			| {{ $t('menu.home')}}
			i.fa.fa-home
		.p-25-r
			hr
		router-link.link.p-10-r.vn-row.sp-b(:to="{ name: 'manufacturers' }" active-class="vn-active")
			| {{ $t('menu.manufacturers')}}
			i.fa.fa-industry
		router-link.link.p-10-r.vn-row.sp-b(:to="{ name: 'cars' }" :class="{ 'vn-active': isActive('cars')}")
			| {{ $t('menu.cars')}}
			i.fa.fa-car
		router-link.link.p-10-r.vn-row.sp-b(:to="{ name: 'search' }" active-class="vn-active")
			| {{ $t('menu.search')}}
			i.fa.fa-search
		.p-25-r
			hr
		a.link.p-10-r.vn-row.sp-b(href="https://delni.gitlab.io/ovdb/" target="_blank")
			| {{ $t('menu.api')}}
			i.fa.fa-plug
</template>

<script lang="ts">
import {defineComponent} from "vue";
import {mapGetters} from "vuex";
import LogoFull from "../../components/svg/LogoFull.vue";

let clickListener: EventListener;

export default defineComponent({
	components: {LogoFull},
	computed: {
		...mapGetters("@user", ["me"]),
	},

	data() {
		return  {
			menu: false
		}
	},


	methods: {
		isActive(path: string): boolean {
			return this.$route.path.includes(path);
		},

		toggleMenu(): void {
			this.menu = !this.menu
			if(this.menu) {
				clickListener = (event: Event) => {
					if ((event as MouseEvent).pageX > window.innerWidth * 0.8) {
						this.toggleMenu()
					}
				}
				window.addEventListener('click', clickListener)
			} else {
				window.removeEventListener('click', clickListener)
			}
		}
	},
});
</script>

<style lang="sass">
.logo
	max-height: 2em
	padding-bottom: 0.75rem
</style>