<template lang="pug">
.h-100.v-100.p-10
	template(v-if="loading")
		transition(name="fade")
			.vn-col.h-100.v-center
				loader(size="2")
	.vn-smart-grid.has-6-col(v-else)
		transition-group(name="fade")
			manufacturer-item(v-for="manufacturer in manufacturers"
				:manufacturer="manufacturer"
				:key="manufacturer.id"
			)
			manufacturer-modal(key="add")
				.vn-item.phantom
					h2
						i.fas.fa-plus
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { mapActions, mapGetters } from "vuex";
import { ManufacturerActions } from "../../store/manufacturer/manufacturer.actions";
import ManufacturerModal from "./manufacturers/manufacturer-modal.vue";
import ManufacturerItem from "./manufacturers/manufacturer-item.vue";
import Loader from "../../components/loader.vue";

export default defineComponent({
  name: "manufacturers",
  components: { ManufacturerModal, ManufacturerItem, Loader },

  computed: {
    ...mapGetters("@manufacturer", ["loading", "manufacturers"]),
  },

  mounted() {
    if (!this.manufacturers.length) {
      this.fetchManufacturers();
    }
  },

  methods: {
    ...mapActions("@manufacturer", [ManufacturerActions.FETCH_MANUFACTURERS]),
  },
});
</script>

<style lang="sass">
</style>