.fade-up
  &-enter-active
    transition: all .2s ease-out

  &-leave-active
    transition: all .25s cubic-bezier(1.0, 0.5, 0.8, 1.0)

  &-enter-from, &-leave-to
    opacity: 0
    transform: translateY(25px)

.fade-left
  &-enter-active
    transition: all .2s ease-out

  &-leave-active
    transition: all .25s cubic-bezier(1.0, 0.5, 0.8, 1.0)

  &-enter-from, &-leave-to
    opacity: 0
    transform: translateX(25px)


.fade
  &-enter-active
    transition: all .2s ease-out

  &-leave-active
    transition: all .25s cubic-bezier(1.0, 0.5, 0.8, 1.0)

  &-enter-from, &-leave-to
    opacity: 0

.appear
  &-enter-active
    transition: all .25s cubic-bezier(1.0, 0.5, 0.8, 1.0)

  &-leave-active
    transition: all .25s cubic-bezier(1.0, 0.5, 0.8, 1.0)

  &-enter-from, &-leave-to
    height: 0
    overflow: hidden