.vn-button
  @include no-select
  cursor: pointer
  background-color: $primary
  color: findColorInvert($primary)
  padding: 0.5em 0.75em
  margin: 0.15em
  border-radius: 0.25em

  *:first-child:not(:last-child)
    margin-right: 0.5em
  &:hover
    background-color: darken($primary, 5%)
  &:active, &:focus
    background-color: darken($primary, 5%)
    color: darken($primary, 50%)

  &.outlined
    border: 1px solid $primary
    background-color: transparent
    color: $primary
    padding: calc(0.5em - 2.5px) 0.75em
    &:hover
      background-color: darken($primary, 5%)
      color: findColorInvert($primary)
    &:active, &:focus
      background-color: darken($primary, 5%)
      color: darken($primary, 50%)

    &.warning
      border-color: $warning
      color: $warning
      &:hover
        background-color: darken($warning, 5%)
        color: findColorInvert($warning)
      &:active, &:focus
        background-color: darken($warning, 5%)
        color: darken($warning, 50%)