
.vn-media
	border-radius: 2em
	background-color: darken($background-color, 2.5%)
	box-shadow: 5px 5px 7px darken($background-color, 5%), -5px -5px 7px lighten($background-color, 5%)
	width: 100%
	height: 100%
	position: relative
	overflow: hidden
	color: transparentize($background-lighter, 0.2)
	img
		width: 100%
		position: absolute

	input[type="file"]
		width: 100%
		height: 100%
		opacity: 0
		position: absolute
		cursor: pointer