table
  width: calc(100% - #{$space} * 2)
  margin: $space
  box-shadow: 2px 2px 5px $background-dark, -2px -2px 5px $background-light
  border-radius: $radius * 2
  overflow: hidden
  border: none
  border-collapse: collapse
  tr
    line-height: 3em

    &:not(:first-child)
      &:nth-child(2n)
        background-color: $background-dark

      &:hover, &:active
        background-color: $background-light

    td, th
      &:first-child
        padding-left: $space
      &:last-child
        padding-right: $space
      border: none
      &.expanded
        width: 60%